.cio-autocomplete.custom-autocomplete-styles form {
  height: 44px;
  width: 600px;
  border-radius: 8px;
  background-color: rgb(247, 247, 247);
}

.cio-autocomplete.custom-autocomplete-styles .cio-input {
  font-weight: bold;
}

.cio-autocomplete.custom-autocomplete-styles .cio-form button {
  width: 44px;
}

.cio-autocomplete.custom-autocomplete-styles .cio-clear-btn {
  right: 24px;
}

.cio-autocomplete.custom-autocomplete-styles .cio-section-name {
  margin: 5px 3px;
}

.cio-autocomplete.custom-autocomplete-styles .cio-results {
  width: 620px;
  max-height: 334px;
  overflow: hidden;
  border-radius: 0px 0px 8px 8px;
  color: rgb(51, 51, 51);
}

.cio-autocomplete.custom-autocomplete-styles .products p {
  padding: 5px 5px 0;
}

.cio-autocomplete .cio-item .cio-product-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: center;
}

.cio-autocomplete .cio-item img.cio-product-image {
  max-height: 200px;
  object-fit: cover;
  object-position: 50% 0%;
}

.cio-autocomplete .cio-section-products .cio-item.cio-item-Products {
  height: unset;
}