.cio-autocomplete.full-example-autocomplete-styles.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 60px;
  width: auto;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cio-autocomplete.full-example-autocomplete-styles.header .menu-icon {
  position: absolute;
  left: 30px;
  cursor: pointer;
}

.cio-autocomplete.full-example-autocomplete-styles {
  height: 100%;
  width: 100%;
  background-color: white;
  padding: 0px
}

.cio-autocomplete.full-example-autocomplete-styles form {
  height: 44px;
  width: 450px;
  border-radius: 8px;
}

.cio-autocomplete.full-example-autocomplete-styles .cio-input {
  border-radius: 100px;
  box-sizing: border-box;
  box-shadow: none;
  border-color: #8080806b;
  padding-left: 20px;
}

.cio-autocomplete.full-example-autocomplete-styles .cio-form button {
  width: 30px;
  background: transparent;
  border: none;
  margin-right: 10px;
}

.cio-autocomplete.full-example-autocomplete-styles .cio-submit-btn {
  display: none;
}

.cio-autocomplete.full-example-autocomplete-styles .cio-submit-btn:disabled {
  right: 0;
  display: block;
}

.cio-autocomplete.full-example-autocomplete-styles .cio-clear-btn {
  right: 0;
}

.cio-autocomplete.full-example-autocomplete-styles .cio-sectionName {
  margin: 5px 3px;
}

.cio-autocomplete.full-example-autocomplete-styles .cio-results {
  width: 690px;
  max-height: fit-content;
  overflow: hidden;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, -0.8), 0 -0.1px 8px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  padding: 25px;
  left: -30%;
  color: rgb(70, 70, 70);
}

.cio-autocomplete.full-example-autocomplete-styles .Products.cio-section {
  padding: 0px;
}

.cio-autocomplete.full-example-autocomplete-styles .Products .cio-item-Products {
  width: 120px !important;
  height: fit-content;
  padding: 15px;
}

.cio-autocomplete.full-example-autocomplete-styles .Products .cio-section-items {
  text-align: center;
}

.cio-autocomplete.full-example-autocomplete-styles .Products .cio-product-text {
  padding: 15px 5px 0;
}

.cio-autocomplete.full-example-autocomplete-styles .Products .cio-item .cio-product-image {
  width: 100%;
  height: 100%;
  min-height: 200px;
  max-width: unset;
  max-height: unset;
}

.cio-autocomplete.full-example-autocomplete-styles .cio-item[aria-selected='true']  {
  background-color: transparent;
  text-decoration: underline;
  border-radius: 0px;
}

.cio-autocomplete.full-example-autocomplete-styles .Products p {
  padding: 5px 5px 0;
}

.cio-autocomplete.full-example-autocomplete-styles .cio-icon svg {
  width: 20px;
  height: 20px;
}

.cio-autocomplete.full-example-autocomplete-styles .cio-suggestion-image {
  height: 100%;
  min-height: 45px;
}

@media screen and (max-width: 690px) {
  .cio-autocomplete.full-example-autocomplete-styles .cio-results {
    left: 0;
    right: 0;
    width: unset;
  }

  .cio-autocomplete.full-example-autocomplete-styles .Products.cio-section {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .cio-autocomplete.full-example-autocomplete-styles.header .menu-icon {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .cio-autocomplete.full-example-autocomplete-styles.header > div {
    width: 100%;
  }

  .cio-autocomplete.full-example-autocomplete-styles form {
    width: 100%;
  }
}
